@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Inter:wght@200;500&display=swap');
body {
    font-family: Roboto;
}

.certificate-container {
    padding: 50px;
    width: 1024px;
}
.certificate {
    border: 20px solid #063bb3;
    padding: 25px;
    height: 650px;
    position: relative;
}

.certificate:after {
    content: '';
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    /*background-image: url(https://getRikeSD.com/img/white-logo.png);*/
    background-size: 100%;
    z-index: -1;
}

.logo {
    width: 150px;
    height: 80px;
}

.certificate-title {
    text-align: center;    
}

.certificate-body {
    text-align: center;
}

h1 {

    font-weight: 400;
    font-size: 48px;
    color: #063bb3;
}

.student-name {
    font-size: 24px;
}

.certificate-content {
    margin: 0 auto;
    width: 750px;
}

.about-certificate {
    /*width: 380px;*/
    margin: 0 auto;
}

.topic-description {

    text-align: center;
}

.topic-title{
  color: #003BB3; 
  font-size: 30px;
  font-weight: bold;
}

.topic-date{

}
.font-1{
  font-family: 'Arizonia', cursive;
}
